<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 驼峰映射：数据库 user_name 自动映射到属性 userName（★ 强烈建议开启） -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 控制台打印 SQL（学习/调试神器） -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 引入外部属性文件 -->
<!--    <properties resource="classpath:jdbc.properties"/>-->
    <!-- 环境：一个环境 = 一套数据源 + 事务管理器 -->
<!--    <environments default="dev">-->
<!--        <environment id="dev">-->
<!--            &lt;!&ndash; JDBC 事务管理器：commit/rollback 手动控制 &ndash;&gt;-->
<!--            <transactionManager type="JDBC"/>-->
<!--            &lt;!&ndash; 数据源：MyBatis 自带连接池 &ndash;&gt;-->
<!--            &lt;!&ndash; type 必须是 DataSourceFactory 实现：直接写 HikariDataSource 会 ClassCastException &ndash;&gt;-->
<!--            <dataSource type="com.wyy.utils.HikariDataSourceFactory">-->
<!--                <property name="driver" value="${jdbc.driver}"/>-->
<!--                <property name="url" value="${jdbc.url}"/>-->
<!--                <property name="username" value="${jdbc.username}"/>-->
<!--                <property name="password" value="${jdbc.password}"/>-->
<!--                &lt;!&ndash; 连接池参数 &ndash;&gt;-->
<!--                <property name="maximumPoolSize" value="${pool.poolName}"/>-->
<!--                <property name="minimumIdle" value="${pool.minimumIdle}"/>-->
<!--                <property name="connectionTimeout" value="${pool.connectionTimeout}"/>-->
<!--                <property name="idleTimeout" value="${pool.idleTimeout}"/>-->
<!--                <property name="maxLifetime" value="${pool.maxLifetime}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->

<!--        <environment id="prod">-->
<!--            &lt;!&ndash; JDBC 事务管理器：commit/rollback 手动控制 &ndash;&gt;-->
<!--            <transactionManager type="JDBC"/>-->
<!--            &lt;!&ndash; 数据源：MyBatis 自带连接池 &ndash;&gt;-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/rbac?useSSL=false&amp;serverTimezone=Asia/Shanghai"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="940429"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

    <!-- 注册 Mapper（resource = classpath 相对路径，即编译后 target/classes 中的位置） -->
<!--    <mappers>-->
<!--        <mapper resource="mapper/SysUserMapper.xml"/>-->
<!--        <mapper resource="mapper/WeekConfigMapper.xml"/>-->
<!--    </mappers>-->
</configuration>